# Virtual environment
env/
bin/
include/
lib/
lib64
share/
pyvenv.cfg

# Pip status
pip-selfcheck.json

# Temporary files
__pycache__/
*~
*.swp
*.pyc
*.bak

# Data relating to development/deployment
out/
res/
temp/
.tox/
*.egg-info/

# IDEs
.vscode/

